<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.login">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="村务宝典(复刻版)"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".country.Lvyou.Lvyou_1.Lvyou_1Activity"></activity>
        <activity android:name=".country.Meili.Meili_1.Meili_1Activity" />
        <activity android:name=".country.Minsu.Minsu_1.Minsu_1Activity" />
        <activity android:name=".country.Wenhua.Wenhua_1.Wenhua_1Activity" />
        <activity android:name=".country.Woai.Woai_1.Woai_1Activity" />
        <activity android:name=".country.Xuanchuan.Xuanchuan_1.Xuanchuan_1Activity" />
        <activity android:name=".country.Zixun.Zixun_3.Zixun_3Activity" />
        <activity android:name=".country.Zixun.Zixun_2.Zixun_2Activity" />
        <activity android:name=".country.Zixun.Zixun_1.Zixun_1Activity" />
        <activity android:name=".country.Zixun.ZixunActivity" />
        <activity android:name=".country.Xuanchuan.XuanchuanActivity" />
        <activity android:name=".country.Woai.WoaiActivity" />
        <activity android:name=".country.Wenhua.WenhuaActivity" />
        <activity android:name=".country.Minsu.MinsuActivity" />
        <activity android:name=".country.Meili.MeiliActivity" />
        <activity android:name=".country.Lvyou.LvyouActivity" />
        <activity android:name=".projectmanger.FourBulid.FourBulidActivity" />
        <activity android:name=".projectmanger.FirstBulid.FirstBulidActivity" />
        <activity android:name=".projectmanger.MainBulid.MainBulidActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".message.MessageActivity" />
        <activity android:name=".link.LinkActivity" />
        <activity android:name=".country.CountryActivity" />
        <activity android:name=".projectmanger.ProjectMangerActivity" />
        <activity android:name=".Party.PartyActivity" />
        <activity android:name=".System.SystemActivity" />
        <activity android:name=".Data.DataActivity" />
        <activity android:name=".iot.IotActivity" />
        <activity android:name=".Weather.WeatherActivity" />
        <activity android:name=".Work.WorkActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>